* {
    box-sizing: border-box;
  }


h1{
color: red;
font-style: bold; 
padding: 1px;
margin: 1px;
font-family: 'Open Sans', sans-serif;
}
span{
color: blue;
font-style: bold;
padding: 1px;
margin: 1px;
font-family: 'Open Sans', sans-serif;
}
img{
    border: 1px solid #080808;
    padding: 1px;
margin: 1px;
}
section{
    border: 1px solid #080808;
    padding: 1px;
    margin: 1px;
    width: 20px;
    height: 20px;
    
}

