* {
  box-sizing: border-box;
}

.header {
width: 100%;
float: left;
border: 1px solid red;
padding: 15px;
background-color: aliceblue;
font-family: 'Open Sans', sans-serif;

}
   

.main {
width: 100%;
float: left;
padding: 15px;
border: 1px solid red;
background-color: aliceblue;
font-family: 'Open Sans', sans-serif;
}

.footer {
width: 100%;
float: left;
padding: 15px;
border: 1px solid red;
background-color: aliceblue;
}
  
h1 {
color: red;
font-style: bold; 
padding: 5px;
margin: 5px;
font-family: 'Open Sans', sans-serif;
font-size: 50px;
text-align: center;
}
    
h2 {
color: red; 
padding: 10px;
margin: 10px;
font-family: 'Open Sans', sans-serif;
font-size: 25px;
text-align: center;
}

h3 {
  color: blue;
  padding: 10px;
  margin: 10px;
  font-family: 'Open Sans', sans-serif;
  font-size: 25px;
  text-align: center;
  }
  
p {
  color: blue;
padding: 20px;
margin: 20px;
font-family: 'Open Sans', sans-serif;
font-size: 25px;
    text-align: center;
}  

p1, p2, p3, p4 {
color: blue;
padding: 20px;
margin: 20px;
font-family: 'Open Sans', sans-serif;
font-size: 25px;
}

img {
border: 1px solid #080808;
padding: 1px;
margin: 1px;
}

.center {
display: block;
margin-left: auto;
margin-right: auto;
}

.row {
  display: flex;
  border: 1px;
}

.column {
  flex: 25%;
  padding: 5px;
}

.form label {
  display: block;
  margin-block-start: 1em;
  margin-block-end: .5em;
  padding-inline-start: .5em;


}

.form label span {
  color: #DA1414;
}

.form input, .form textarea {
  box-sizing: border-box;
  width: 50%;
  font-size: 1rem;
  padding: .8em;
  border-radius: .5em;
  border: 1px solid #858C94;
}

.form textarea {
  margin-block-end: 2em;
  font-family: inherit;
}